:root {
  --bg-dark-grey: #3b3f45;
  --bg-light-grey: #4a4f56;
  --text-disabled: #9b96ac;
  --color-accent: #ff8984;
  --color-primary-light: #88839e;
  --color-primary-medium: #7a7593;
  --color-primary-dark: #625e77;
  --white: #fff;
  --black: #000;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* 
CSS NORMALIZE 
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

a,
button {
  cursor: pointer;
}

image {
  max-width: 100%;
  height: auto;
}

/* 
HEADER
*/

.header {
  background-color: var(--bg-light-grey);
  color: var(--color-accent);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

/* 
MAIN 
*/

.main {
  background-color: var(--bg-dark-grey);
  padding-top: 20px;
  flex-grow: 1;
}

.container {
  max-width: 534px;
  margin: 0 auto;
}

.list {
  list-style: none;
  color: var(--white);
}

.list-item {
  padding: 12px;
  cursor: pointer;
  background-color: var(--color-primary-light);
}

.list-item input + label {
  cursor: pointer;
}

.list-item:nth-child(even) {
  background-color: var(--color-primary-medium);
}

[type] {
  margin-right: 16px;
}

span {
  font-size: 11px;
}

/* How to fill underline of small text? (finde answer in video of lesson 10) */
/* The solution from video doesn't work in my case */
span::after {
  display: inline-block;
  text-decoration: inherit;
}

.list-item:hover {
  background-color: var(--color-primary-dark);
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  transition: all 0.1s ease-in;
}

.list-item:active {
  background-color: var(--color-accent);
  transition: all 0.1s ease-in;
}

/* How to provide an opportunity for users to click anywhere for to strickthrough the item? */

input[type]:checked + label {
  text-decoration: line-through;
  color: var(--text-disabled);
}

.list-item:has(input[type]:checked) {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--white);
  color: var(--black);
}

button {
  max-width: 534px;
  width: 100%;
  padding: 12px 200px;
  margin: 45px 0;
  font-size: 18px;
  color: var(--color-accent);
  background-color: var(--bg-light-grey);
  border: none;
}
